<%- include('partials/header.ejs'); -%>

  <div class="box" id="heading">
    <h2>Your Tasks</h2>
  </div>

  <div class="box">
    <% for(let item of listItems) {%>
      <div class="item">
        <form action="/delete" method="post">
          <input type="checkbox" onchange="this.form.submit()" name="deleteItemId" value="<%= item.id %>">
        </form>

        <p id="title<%=item.id%>">
          Title: <%= item.title %> <br> 
          Date: <%= item.target.toDateString() %>
        </p>
        <form class="edit" action="/edit" method="post">
          <input type="hidden" name="updatedItemId" value="<%= item.id %>">
          <input id="input<%=item.id%>" type="text" name="updatedItemTitle" value="<%= item.title %>"
            autocomplete="off" autofocus="true" hidden="true" />
          <input id="list<%=item.id%>" type="date" name="updatedItemTarg" value=<%= item.target.getFullYear() %>-<%= (item.target.getMonth()+1).pad(2,0) %>-<%= (item.target.getDate()).pad(2,0) %>
            autocomplete="off" autofocus="true" hidden="true" />
          
          <button id="done<%=item.id%>" class="edit" type="submit" hidden><img class="icon"
            src="/assets/icons/check-solid.svg" alt="tick image"></button>
        </form>
        <button id="edit<%=item.id%>" class="edit" onclick="handler('<%=item.id%>')"><img class="icon"
            src="/assets/icons/pencil-solid.svg" alt="pencil image"></button>
        <button id="esc<%= item.id %>" class="esc" onclick="handler('<%= item.id %>')" hidden="true">x</button>


      </div>
    <% } %>

    <form class="item" action="/home" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus="true" required/>
      <input type="date" name="list" id="target" min="<%= (new Date()).toISOString().split('T')[0] %>" required>
      <button class="add" type="submit">+</button>
    </form>
  </div>

 
  <form action="/logout" method="post">
    <input type="submit" value="logout" id="logout-btn">
  </form>

  <script>
    function handler(id) {
      document.getElementById("title" + id).toggleAttribute("hidden")
      document.getElementById("edit" + id).toggleAttribute("hidden")
      document.getElementById("done" + id).toggleAttribute("hidden")
      document.getElementById("input" + id).toggleAttribute("hidden")
      document.getElementById("list"+id).toggleAttribute("hidden")
      document.getElementById("esc"+id).toggleAttribute("hidden")
    }
  </script>
  <%- include('partials/footer.ejs'); -%>